# Ignore all environment files by default
.env
*.env
*.env.*

# Allow only the EXAMPLE files
!.env.snipeit.example
!.env.flask.example

# Do NOT allow the REAL env files
.env.snipeit
.env.flask

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.venv
venv/
env/

# Node / Chrome extension
node_modules/
npm-debug.log*
yarn-error.log*
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform local vars
infra/terraform.tfvars

# Docker logs
*.log

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db
